---
import Layout from '../layouts/Layout.astro';
import Cards from '../components/Cards';
import InfoCards from '../components/InfoCards';
import PhotoCards from '../components/PhotoCards';
import SignIn from '../components/SignIn';
---

<Layout title='Clan Platform'>
  <main>
    <video autoplay muted loop id='myVideo' class='absolute top-0 left-0 w-full h-screen object-cover z-0'
           poster='/img.webp'>
      <source src='/RedWoman_compressed.mp4' type='video/mp4' />
    </video>
    <section id='hero' class='flex flex-col justify-between items-start'>
      <SignIn client:only='solid-js' />
      <div class='flex flex-col md:justify-end justify-between h-full p-5 z-10'>
        <h1 class='sm:mt-0 mt-14 md:text-[88px] text-[48px] leading-none sm:leading-tight text-white'>
          growth agency for fashion brands and independent designers
        </h1>
        <div class='flex flex-col md:grid grid-cols-3 gap-4 mt-8'>
          <p class='text-xl text-white leading-tight'>
            10X average revenue growth <span class='text-dusty-rose'>of connected brands in the first year of work</span>
          </p>
          <p class='text-xl text-white leading-tight'>
            5+ years of saved time <span class='text-dusty-rose'>on growth and experiments due to our extensive background</span>
          </p>
          <p class='text-xl text-white leading-tight'>
            30% less operational costs<span class='text-dusty-rose'>, due automations and better management</span>
          </p>
        </div>
      </div>
    </section>
    <section class='bg-white sm:min-h-screen sm:pt-28 pt-20 px-5'>
      <p class='indent-10 md:text-[44px] text-[28px] leading-tight mb-10 font-medium'>We help brands make their first money, develop
        strategy, and take the next steps in their journey, significantly increasing revenue and growth rate. <span
          class='text-neutral-300'>We do this through our extensive business savvy, experience in fashion, and understanding of the market. </span>
      </p>
      <img src='/img_1.webp' alt='img_1' class='w-fit hidden xl:block' />
      <img src='/img_2.webp' alt='img_1' class='w-fit hidden sm:block xl:hidden' />
      <PhotoCards client:only='solid-js' />
    </section>
    <section class='bg-white sm:min-h-screen sm:pt-28 pt-20 px-5'>
      <p class='indent-10 md:text-[44px] text-[28px] leading-tight font-medium'>We work with the entire brand itself, analyzing
        financials, business, production, market, and developing a strategy to execute. <span
          class='text-neutral-300'>Mostly, we are starting with online sales, gradually moving towards bigger and more complex tasks. In our ideal world, you handle design and production while we take care of everything else.</span>
      </p>
      <Cards client:only='solid-js' />
    </section>

    <section class='bg-white sm:min-h-screen sm:pt-28 pt-20 px-5'>
      <p class='indent-10 md:text-[44px] text-[28px] leading-tight font-medium'>
        We charge income commissions and work as an outsourced team, developing partnership relationships.
        <span class='text-neutral-300'>
          Firstly, this is the only way for most brands to afford our services. Secondly, we put our skin in the game: if our work is ineffective, you are not risking anything; if it's effective, we make money together. Simple.
        </span>
      </p>
      <InfoCards client:only='solid-js' />
    </section>
    <section class='bg-white sm:pt-28 pt-20 px-5'>
      <p class='indent-10 md:text-[44px] text-[28px] leading-tight font-medium'>We stand against old-fashioned ways imposed by the
        community and simply making money. Independently, quickly, free of prejudices.<span
          class='text-neutral-300'>
        If you have a good product, a little bit of sales, and share our vision, we are ready to go. We work with jewelry, shoes, perfumes, accessories, clothing, and furniture.</span>
      </p>
    </section>
    <section class='p-5 bg-white h-screen relative'>
      <video autoplay muted loop id='another' class='w-full h-full object-cover z-0 rounded-[20px]'
             poster='/img.webp'>
        <source src='/rage_longer_compressed.mp4' type='video/mp4' />
      </video>
      <div
        class='flex flex-col items-center absolute transform -translate-y-1/2 top-1/2 left-1/2 -translate-x-1/2 z-10 w-full'>
        <p class='text-white font-normal md:text-[88px] text-[48px] leading-[1.1] sm:leading-tight text-center md:max-w-4xl max-w-xs'>
          Rage, rage against the dying of the light
        </p>
        <div class='flex flex-row items-center justify-center gap-4 text-white mt-24 font-medium'>
          <a>x.com</a>
          <a>pm.me</a>
          <a>t.me</a>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
    #hero {
        height: 100vh;
    }
</style>