---
const { title, text } = Astro.props;
---

<div
  class="flex h-[260px] flex-col items-center justify-center gap-3 rounded-[80px] bg-[#F6F6F6] px-5 text-center"
>
  <p class="text-lg leading-tight">{title}</p>
  <p class="text-sm leading-tight text-[#A3A3A3]">
    {text}
  </p>
</div>
