---
const { button, title, text } = Astro.props;
---

<div class="relative flex flex-col items-center justify-between">
  <slot />
  <div
    class="absolute left-1/2 top-7 flex h-[22px] -translate-x-1/2 transform flex-col items-center justify-center rounded-2xl bg-white px-2 text-xs text-black"
  >
    {button}
  </div>
  <div class="absolute bottom-20 left-1/2 -translate-x-1/2 transform">
    <p class="text-lg text-white">{title}</p>
    <p class="text-sm text-[#9C9C9C]">
      {text}
    </p>
  </div>
</div>
