---
const { title, text, icon } = Astro.props;
---

<div
  class="flex h-[400px] flex-col items-start justify-between gap-3 rounded-[32px] bg-[#F6F6F6] p-5"
>
  <div class="flex flex-col items-start justify-start text-start">
    <slot name="icon" />
    <p class="mt-2 text-lg text-neutral-900">{title}</p>
    <p class="text-sm text-[#A3A3A3]">{text}</p>
  </div>
  <div class="flex flex-row flex-wrap gap-2">
    <slot />
  </div>
</div>
